header {
  width: 100%;
  height: 80px;
  background: #333;
  box-shadow: 0px 2px 4px gray;
}

nav {
  width: 1000px;
  height: 80px;
  float: right;
}

nav > li {
  width: 198px;
  list-style: none;
  float: left;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

li > a {
  display: block;
  line-height: 80px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
}

#logo {
  float: left;
  width: 200px;
  height: 80px;
  padding-left: 40px;
}

#ham-menu {
  display: none;
}

#ham-menu > span {
  cursor: pointer;
}

li > a:hover,
li > a:focus {
  background: skyblue;
  color: #333;
}




section {
  margin-top: 80px;
}

#homePage > h1 {
  font-weight: bold;
}

#homePage > p {
  padding: 15px;
  margin: 70px;
  font-size: -webkit-xxx-large;
  text-align: center;
}


section form {
  width: 400px;
  margin: 0 auto;
}

div.checkbox label {
  margin-left: 15px;
}

div.col-lg-10 {
  float: none;
}

.col-lg-offset-2 {
  margin-left: 0;
}

form button {
  margin-right: 10px;
}

footer {
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 1rem;
  text-align: center;
  /*background-color: #efefef;*/
}


@media screen and (max-width:1240px) {
  nav {
    width: 800px;
  }

  nav > li {
    width: 158px;
    display: list-item;
  }

  #logo > img {
    width: 150px;
    height: 80px;

  }

  section {
    margin-top: 80px;

  }

}



@media screen and (max-width:1040px) {
  header {
    width: 100%;
    height: 60px;
    position: relative;
    top: 80px;
  }

  section {
    margin-top: 140px;
  }

  nav {
    width: 100%;
    height: 60px;
  }

  nav > li {
    width: 18%;
    display: list-item;
  }
  li > a {
    line-height: 60px;
    font-size: 16px;
  }

  #logo {
    float: left;
    width: 200px;
    height: 80px;
    padding-left: 40px;
    position: absolute;
    top: -80px;
  }


}

@media screen and (max-width:700px) {
  header {
    width: 100%;
    height: 60px;
  }

  nav {
    width: 100%;
    height: 60px;
    float: none;
  }

  nav > li {
    width: 100%;
    list-style: none;
    float: none;
    border-bottom: 1px solid skyblue;
  }
  li > a {
    display: block;
    line-height: 60px;
    font-size: 16px;
    background-color: #333;
  }

  .nav.nav-tabs  li > a {
    background-color: white;
  }

  #ham-menu {
    display: block;
    height: 80px;
    position: relative;
    top: -140px;
    float: right;
    padding-right: 20px;
  }

  #ham-menu span{
    display: block;
    line-height: 80px;
    text-decoration: none;
    font-size: 50px;
  }

  #homePage p {
    margin: 70px 0;
    padding: 0 5px;
  }

  /*section {
    position: absolute;
  }*/

  section form {
    width: 100%;
  }


}
